Island_graham_cracker/Library/AssetImportState
Island_graham_cracker/Library/AssetServerCacheV3
Island_graham_cracker/Library/FailedAssetImports.txt
Island_graham_cracker/Library/ScriptAssemblies
Island_graham_cracker/Library/ScriptMapper
Island_graham_cracker/Library/assetDatabase3
Island_graham_cracker/Library/cache
Island_graham_cracker/Library/expandedItems
Island_graham_cracker/Library/metadata
Island_graham_cracker/Library/previews
Island_graham_cracker/Library/guidmapper
Island_graham_cracker/Temp
*.pidb
Island_graham_cracker/build